# Core
Django
djangorestframework
django-filter

# Authentication
djangorestframework-simplejwt

# Database
psycopg2-binary

# File Upload and Bulk Import
pandas
openpyxl

# Utilities
python-dotenv
django-cors-headers

# Audit / Signal
django-simple-history

# Barcode / QR
qrcode
Pillow

# Forecasting
numpy

# Production server
gunicorn
